@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent text selection on interactive elements */
button,
[role="button"] {
  user-select: none;
}

/* Scrollbar styling for the main content area */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 3px;
}
